.layui-table td, .layui-table th {
    padding: 0 0;
    font-size: 0.875rem;
}

.layui-table tr {
    background-color: rgba(0, 0, 0, 0);
}

.layui-table tbody tr:hover, .layui-table thead tr, .layui-table[lay-even] tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0);
}

#weather_block {
    text-align: right;
}

.table-icon {
    font-size: 1.2rem;
}

.table-value {
    font-size: 0.8rem;
}

.layui-table, .layui-table-view {
    margin: 0 0 0.5rem 0;
}