<style>
    .layui-table td, .layui-table th {
        padding: 2px 1px;
    }

    #table_balance td, #table_balance th {
        border-right: solid 0.1rem white;
        font-size: 1rem;
    }
</style>

<div class="layui-col-xs6">
    <table id="table_balance" class="layui-table" lay-even="" lay-skin="nob" style="background-color:rgba(0,0,0,0)">
        <tbody id="tbody_balance">
        </tbody>
    </table>
</div>
<div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
    <span id="total_earned"></span>
</div>

<script>
    function getMyBalance() {
        this._fetchWith("{{ url_for('main.home_data', name='my_balance', _external=True) }}", {
            'method': 'GET'
        }, result => {
            result = JSON.parse(result);
            log(result);
            hide('#tbody_balance');

            qs('#tbody_balance').innerHTML = '';
            for (let currency in result['total_result']) {
                qs('#tbody_balance').innerHTML += '<tr>' +
                    '<td>' + result['total_result'][currency]['CurrencyName'] + '</td>' +
                    '<td align="right">¥' + result['total_result'][currency]['currentPrice'] + '</td>' +
                    '<td align="right">' + result['total_result'][currency]['earnedPer'] + '%</td>' +
                    '</tr>';
            }
            qs('#total_earned').innerHTML = '总收益率: ' + (result['total_earned'] * 100 / result['total_cost']).toFixed(2) + '%';

            show('#tbody_balance');
        })
    }
</script>