<style>
    .layui-table td, .layui-table th {
        padding: 0.125rem 0.0625rem;
    }

    #table_balance td, #table_balance th {
        font-size: 1.125rem;
        padding: 0.15rem 0.1rem;
    }
</style>

<div class="layui-col-xs6">
    <table id="table_balance" class="layui-table" lay-even="" lay-skin="nob" style="background-color:rgba(0,0,0,0)">
        <tbody id="tbody_balance">
        </tbody>
    </table>
</div>
<div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
    <span id="total_earned"></span><button type="button" style="background: white;color: black;padding:0.1rem;margin: 0.5rem" onclick="home.getMyBalance()">更新</button>
</div>

<script>
    function getMyBalance() {
        this._fetchWith("{{ url_for('main.home_data', name='my_balance', _external=True) }}", {
            'method': 'GET'
        }, result => {
            result = JSON.parse(result);
            hide('#tbody_balance');
            {# fixme-1 由 jinja 处理模板数据 #}
            qs('#tbody_balance').innerHTML = '';
            for (let currency in result['total_result']) {
                str = '';
                if (parseFloat(result['total_result'][currency]['earnedPer']) > 0) {
                    bg = 'style="background-color:white;color:black;"';
                } else {
                    bg = 'style="background-color:black;color:white;"';
                }
                str += '<tr ' + bg +'">';
                str += '<td ' + bg + '>' + result['total_result'][currency]['CurrencyName'] + '</td>';
                str += '<td ' + bg + ' align="right">¥' + result['total_result'][currency]['currentPrice'] + '</td>';
                str += '<td ' + bg + ' align="right">' + result['total_result'][currency]['earnedPer'] + '%</td>';
                str += '</tr>';
                qs('#tbody_balance').innerHTML += str;
            }
            qs('#total_earned').innerHTML = '区块链总收益率: ' + (result['total_earned'] * 100 / result['total_cost']).toFixed(2) + '%';

            show('#tbody_balance');
        })
    }
</script>