<style>
    .layui-table td, .layui-table th {
        padding: 0.1rem 0;
        font-size: 0.875rem;
    }

    .layui-table tr {
        background-color: rgba(0, 0, 0, 0);
    }

    .layui-table tbody tr:hover, .layui-table thead tr, .layui-table[lay-even] tr:nth-child(even) {
        background-color: rgba(0, 0, 0, 0);
    }

    #weather_block {
        text-align: right;
    }

    .table-icon {
        font-size: 1.2rem;
    }

    .table-value {
        font-size: 0.8rem;
    }

    .layui-table, .layui-table-view {
        margin: 0 0 0.625rem 0;
    }
</style>
<div id="weather_block" style="transition:opacity 1s">
    {# block left #}
    <table class="layui-table" lay-even="" lay-skin="nob" style="background-color:rgba(0,0,0,0)">
        <tbody>
        <tr>
            <td><i class="iconfont table-icon icon-kongqishidu"></i></td>
            <td>[<span id="val_hud" class="table-value">{{ data['湿度'] }}</span>]</td>
            <td><i class="iconfont table-icon icon-richu"></i></td>
            <td>[<span id="val_sun_on" class="table-value">{{ data['日出时间'] }}</span>]</td>
            <td><i class="iconfont table-icon icon-riluo"></i></td>
            <td>[<span id="val_sun_off" class="table-value">{{ data['日落时间'] }}</span>]</td>
            <td><i class="iconfont table-icon icon-daqiyali"></i></td>
            <td>[<span id="val_press" class="table-value">{{ data['气压'] }}</span>]</td>
            <td><i class="iconfont table-icon icon-ziwaixianzhishu"></i></td>
            <td>[<span id="val_uv" class="table-value">{{ data['紫外线'] }}</span>]</td>
            <td><i class="wind iconfont table-icon icon-wind-1"></i></td>
            <td>[<span id="val_wind" class="table-value">{{ data['风级'] }}</span>]</td>
        </tr>
        </tbody>
    </table>

    {# block right #}
    {% set weather_list = {
        '晴': 'icon-qing',
        '多云': 'icon-duoyun',
        '阴': 'icon-yintian',
        '小雨': 'icon-xiaoyu',
        '中雨': 'icon-zhongyu',
        '大雨': 'icon-dayu',
        '阵雨': 'icon-zhenyu',
        '雷阵雨': 'icon-leizhenyu',
        '暴雨': 'icon-baoyu',
        '大暴雨': 'icon-dabaoyu',
        '特大暴雨': 'icon-tedabaoyu',
        '阵雪': 'icon-zhenxue',
        '小雪': 'icon-xiaoxue',
        '大雪': 'icon-daxue',
    } %}
    {% set weather =  data['天气'].split('转') %}
    <div style="position: relative">
        <div style="width: 17.5rem;position: absolute;padding:0.875rem;left: 0;top: 0;">
            <i class="iconfont weather_1 {{ weather_list[weather[0]] }}" style="font-size: 10rem"></i>
            {% if weather.length == 2 %}
                <span class="weather_or" style="font-size: 2rem"></span>
                <i class="iconfont weather_2" style="font-size: 5rem"></i>
            {% endif %}
        </div>
        <div style="">
            <span style="font-size: 1.1rem" id="val_weather">{{ data['天气'] }}</span>
            <span style="font-size: 1.1rem" id="val_tem_r">{{ data['气温'] }}</span>
            <br>
            <i class="iconfont weather_1" style="font-size: 6rem"></i>
            <span style="font-size: 6rem;letter-spacing: -0.4rem;" id="val_tem">{{ data['实时气温'].replace('℃', '°') }}</span>
            <br>
            <span style="font-size: 1.1rem" id="val_time">{{ data['发布时间'] }}</span>
        </div>
    </div>
</div>