* {
    border: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.875rem;
}

html {
    font-size: 1.5625vw;
}

body {
    padding: 1rem;
    background: #282c34!important;
    font-family: 'Microsoft Yahei', 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    height: 100%;
    overflow: hidden;
}

.layui-table td, .layui-table th {
    padding: 0 0.0625rem;
}

.layui-table tr {
    height: 1rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh
}

.bb {
    border: solid 1px black;
}

.block {
    border: solid 1px black;
    transition: width 0.7s ease-out;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    width: 200px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.time {
    font-size: 200px;
}

.left, .right {
    display: flex;
    width: 400px;
    flex: 1;
}

.row {
    width: 100vw;
    height: 50vh;
    display: flex;
}

.layui-table {
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    color: #666;
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
