<style>
    .layui-table td, .layui-table th {
        padding: 0.1rem 0;
        font-size: 0.875rem;
    }

    .layui-table tr {
        background-color: rgba(0, 0, 0, 0);
    }

    .layui-table tbody tr:hover, .layui-table thead tr, .layui-table[lay-even] tr:nth-child(even) {
        background-color: rgba(0, 0, 0, 0);
    }

    #weather_block {
        text-align: right;
    }

    .table-icon {
        font-size: 1.2rem;
    }

    .table-value {
        font-size: 0.8rem;
    }

    .layui-table, .layui-table-view {
        margin: 0 0 0.625rem 0;
    }
</style>
<div id="weather_block" style="transition:opacity 1s">
    {# block left #}
    <table class="layui-table" lay-even="" lay-skin="nob" style="background-color:rgba(0,0,0,0)">
        <tbody>
        <tr>
            <td><i class="iconfont table-icon icon-kongqishidu"></i></td>
            <td>[<span id="val_hud" class="table-value"></span>]</td>
            <td><i class="iconfont table-icon icon-richu"></i></td>
            <td>[<span id="val_sun_on" class="table-value"></span>]</td>
            <td><i class="iconfont table-icon icon-riluo"></i></td>
            <td>[<span id="val_sun_off" class="table-value"></span>]</td>
            <td><i class="iconfont table-icon icon-daqiyali"></i></td>
            <td>[<span id="val_press" class="table-value"></span>]</td>
            <td><i class="iconfont table-icon icon-ziwaixianzhishu"></i></td>
            <td>[<span id="val_uv" class="table-value"></span>]</td>
            <td><i class="wind iconfont table-icon icon-wind-1"></i></td>
            <td>[<span id="val_wind" class="table-value"></span>]</td>
        </tr>
        </tbody>
    </table>

    {# block right #}
    <div style="position: relative">
        <div style="width:13rem;position: absolute;padding:1rem;border-right: solid 0.1rem white;left: 4.5rem;top: 0;">
            <i class="iconfont weather_1" style="font-size: 7rem"></i>
            <span class="weather_or" style="font-size: 2rem"></span>
            <i class="iconfont weather_2" style="font-size: 3.5rem"></i>
        </div>
        <div style="">
            <span id="val_weather"></span>
            <span style="font-size: 1rem" id="val_tem_r"></span>
            <br>
            <span style="font-size: 5rem;letter-spacing: -0.4rem;" id="val_tem"></span>
            <br>
            <span id="val_time">09:00:55 更新</span>
        </div>
    </div>
</div>
<script>
    let weather_list = {
        '晴': 'icon-qing',
        '多云': 'icon-duoyun',
        '阴': 'icon-yintian',
        '小雨': 'icon-xiaoyu',
        '中雨': 'icon-zhongyu',
        '大雨': 'icon-dayu',
        '阵雨': 'icon-zhenyu',
        '雷阵雨': 'icon-leizhenyu',
        '暴雨': 'icon-baoyu',
        '大暴雨': 'icon-dabaoyu',
        '特大暴雨': 'icon-tedabaoyu',
        '阵雪': 'icon-zhenxue',
        '小雪': 'icon-xiaoxue',
        '大雪': 'icon-daxue',
    };

    function getWeather() {
        this._fetchWith("{{ url_for('main.home_data', name='weather', _external=True) }}", {
            'method': 'GET'
        }, result => {
            result = JSON.parse(result);
            log(result);

            hide('#weather_block');

            qs('#val_tem').innerHTML = result['实时气温'].replace('℃', '°');
            qs('#val_sun_on').innerHTML = result['日出时间'];
            qs('#val_sun_off').innerHTML = result['日落时间'];
            qs('#val_press').innerHTML = result['气压'];
            qs('#val_tem_r').innerHTML = result['气温'];
            qs('#val_hud').innerHTML = result['湿度'];
            qs('#val_uv').innerHTML = result['紫外线'];
            qs('#val_wind').innerHTML = result['风级'];
            qs('#val_time').innerHTML = result['发布时间'];
            qs('#val_weather').innerHTML = result['天气'];

            let wind = result['风级'].replace(/[^0-9]/ig, "");
            if (wind === 1) {
                qs('.wind').setAttribute('class', 'iconfont icon-wind-1');
            } else if (wind === 2) {
                qs('.wind').setAttribute('class', 'iconfont icon-wind-2');
            } else if (wind >= 3) {
                qs('.wind').setAttribute('class', 'iconfont icon-wind-3');
            }

            let weather = result['天气'].split('转');
            qs('.weather_1').setAttribute('class', 'iconfont weather_1 ' + weather_list[weather[0]] || '.icon-undefined');
            if (weather.length === 1) {
                qs('.weather_or').innerHTML = '';
            } else if (weather.length === 2) {
                qs('.weather_or').innerHTML = '/';
                qs('.weather_2').setAttribute('class', 'iconfont weather_2 ' + weather_list[weather[1]] || '.icon-undefined')
            }

            show('#weather_block');
        })
    }
</script>